html, body, div, header, p, ul, li, section, nav, footer, h1, h2, h3, h4, a, input, button{margin:0; padding:0; line-height: 18px; font-size: 16px; color: #000;
font-family: "Helvetica Neue", "arial","sans-serif"}
ul { list-style:none;}

a:link,a:hover,a:visited,a:active{
  text-decoration:none;
}

input.txt-box{
  width:100%;
}

.wrap{
  width : 100%;
  height : 100%;
}

.container{
  margin:-82px 0 -58px 0;
  min-height:100%;
  background-color: #fafafa;
}

.container .content{
  padding:82px 0 58px 0;
  width:1100px;
  margin: 0 auto;
}

.header-wrap {
  position:relative;
  z-index:10;
  padding: 25px 0px;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
}

.header-content{
  position:relative;
  width: 1100px;
  margin: 0 auto;
}

.header-wrap .h-logo{
  position: absolute;
  top : 4px;
  left : 0px;
}

.header-wrap .h-logo a{
  font-size: 2rem;
}


.header-wrap .search-box{
  width: 200px;
  margin: 0 auto;
  padding:2px 5px;
  border: 1px solid #d9d9d9;
}

.header-wrap .search-box input{
  border: none;
  font-size:1.2rem;
}

.header-wrap .util{
  position:absolute;
  top: 5px;
  right: 0px;
}

.header-wrap .util:after{
  content:"";
  display: block;
  clear:both;
}

.header-wrap .util li{
  float:left;
  margin-left: 10px;
}

.header-wrap .util li:first-child{
  margin-left:0;
}

.footer-wrap{
  padding: 20px 0;
}

.footer-content{
  width: 1100px;
  margin: 0 auto;
}

.footer-wrap .footer-content .copy{
  text-align: center;
}

.main-card{
  width:600px;
  margin:40px auto 0 auto;
  border:1px solid #d3d3d3;
  border-radius: 3px;
  background-color:#fff;
}

.main-card .card-header{
  position:relative;
  padding:20px;
}

.main-card .card-header .user-profile{
  position: absolute;
  display:inline-block;
  top:20px;
  left:20px;
  width:20px;
  height:20px;
  background-color:#bbb;
  border-radius:20px;
}

.main-card .card-header .info-box{
  padding-left:30px;
}

.main-card .card-photo .photo-img{
}

.main-card .card-photo .photo-img img{
  width:600px;
  height:auto;
}

.main-card .card-content{
  padding:20px;
}

.main-card .card-content .content-box .writer{
  margin-right:5px;
  font-weight:bold;
}

.main-card .card-content .comment-info{
  margin-top:20px;
}

.main-card .card-content .comment-info .total{
  color:#999;
}

.main-card .card-content .comment-info .more-btn{
  color:#999;
}

.main-card .card-content .comment-list{
  margin-top:20px;
}

.main-card .card-content .comment-list li{
  margin-top:5px;
}

.main-card .card-content .comment-list li:first-child{
  margin-top:0;
}

.main-card .card-content .comment-list li .writer{
  margin-right:5px;
  font-weight: bold;
}

.main-card .card-content .reply-comment{
  margin-top:20px;
  padding:20px 0 10px 0;
  border-top:1px solid #d9d9d9;
}

.main-card .card-content .reply-comment .txt-box-wrap .txt-box{
  border:none;
}

.card-more-btn{
  text-align:center;
  display:block;
  width:150px;
  margin:40px auto;
  padding:5px 0;
  color:#fff;
  font-weight:bold;
  border-radius: 3px;
  background-color:#3897f0;
}

.card-maker{
  width:560px;
  margin:40px auto 0 auto;
  padding:20px;
  border:1px solid #d3d3d3;
  border-radius: 3px;
  background-color:#fff;
}

.card-maker .upload{
  position:relative;
  height:50px;
}

.card-maker .upload .uploadcare-widget-button{
  position:absolute;
  top:35px;
  left:0px;
}

.card-maker .uploadcare-widget.uploadcare-widget-status-loaded{
  position:absolute;
  top:28px;
  left:0px;
}

.card-maker .upload .btn-upload{
  position:absolute;
  top:18px;
  right:0;
  color:#fff;
  padding:7px 10px;
  border-radius: 3px;
  border:none;
  background-color:#3897f0;
}

.card-maker .content-txt .txt-box{
  border:none;
}

.card-maker .content-txt{
  padding:10px;
  border-bottom:1px solid #d9d9d9;
}

/*login style*************************/

.box-wrap{
  width: 900px;
  margin: 120px auto;
  overflow: hidden;
}

.box-wrap .content-wrap{
  width:730px;
  margin:0 auto;
}

.box-wrap .img-wrap{
  width : 350px;
  height: 550px;
  float: left;
}

.box-wrap .img-wrap .main-img{
  width : 350px;
  height: 550px;
  border-radius: 10px;
}

.box-wrap .login-form{
  width: 350px;
  padding:2px 5px;
  float: right;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
}

.box-wrap .brand-name{
  margin: 30px auto;
  font-size: 2rem;
}

.box-wrap .login-form input{
  margin: 6px auto;
  width : 215px;
  height : 30px;
  font-size:0.8rem;
  color: grey;
  box-shadow: none;
}

.box-wrap .login-btn{
  width: 215px;
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  margin-bottom: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

.box-wrap .login-btn:active{
  position:relative;
	top:1px;
}

.box-wrap .login-join-form{
  margin-bottom: 10px;
}

.box-wrap .warning{
  color: red;
  font-size: 0.8rem;
}

.box-wrap .loading{
  color:blue;
  font-size: 0.8rem;
}

.box-wrap{
  width: 900px;
  margin: 120px auto;
  overflow: hidden;
}

.box-wrap .join-inner{
  width:215px;
  margin: 0 auto;
}

.box-wrap .content-wrap{
  width:730px;
  margin:0 auto;
}

.box-wrap .img-wrap{
  width : 350px;
  height: 550px;
  float: left;
}

.box-wrap .img-wrap .main-img{
  width : 350px;
  height: 550px;

  border-radius: 10px;
}

.box-wrap .join-form{
  width: 350px;
  height: 544px;
  padding:2px 5px;
  float: right;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 10px;
}

.box-wrap .brand-name{
  margin: 30px auto;
  font-size: 2rem;
}

.box-wrap .input-text-wrap{
  margin-top:50px;
}

.box-wrap .join-form .input-text-wrap input{
  margin: 2px auto;
  width : 215px;
  height : 30px;
  font-size:0.8rem;
  color: grey;
  box-shadow: none;
}

.box-wrap .input-text-wrap .confirm-pw{
  font-size: 0.8em;
  margin-top: 10px;
}

.box-wrap .join-text{
  font-size: 0.8rem;
  margin-top:10px;
}

.box-wrap .join-btn-wrap{
  margin-top: 20px;
}

.box-wrap .join-btn{
  width: 215px;
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color: #fff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

.box-wrap .join-btn:active{
  position:relative;
	top:1px;
}


.box-wrap .message {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: 0.8rem;
  color: red;
}

/*profile style*************************/
.profileView {
  text-align: center;
}

.pro-info {
  display: inline-flex;
  padding: 5rem 0 3rem 0;
  width: 700px;
  margin: 0 auto;
}

.pro-info .pro-photo {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  padding: 5px;
}

.pro-info .pro-photo img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.pro-article {
  padding: 1.3rem 1rem 1rem 1rem;
  margin-left: 1rem;
  width: 100%;
  text-align: justify;
}

.pro-article div {
  padding-bottom: 1rem;
}

.pro-article div form {
  display: inline;
}

.pro-article p {
  padding-bottom: 0.5rem;
}

.pro-cardView {
  padding: 1rem 100px;
}

.pro-cardView .pro-card {
  padding: 0.5rem;
  width: 200px;
  height: 200px;
}

.pro-card {
  border-radius: 7%;
}

.profile_editView {
  text-align: center;
  padding: 4rem;
}

.pro-edit-article {
  width: 400px;
  margin: 0 auto;
  padding-top: 1rem;
}

.pro-edit-article div:first-child {
  text-align: justify;
  padding: 1rem;
}

.pro-edit-article div p {
  padding-bottom: 1rem;
}

.pro-edit-article .article-list input {
  width: 150px;
  float: right;
}

.pro-photo {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  padding: 5px;
}

.pro-photo img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.pro-result {
  text-align: center;
}

.pro-result .pro-result-msg {
  font-size: 2rem;
  padding: 5rem 3rem;
}
/********************************/
