<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrap">
      <div class="container">
        <div class="content">
          <article>
            <div class="box-wrap">
              <div class="content-wrap">
                <div class="img-wrap">
                  <img class="main-img" src="http://mblogthumb1.phinf.naver.net/20160605_88/wjs7889_1465092774688SX5rP_JPEG/20160601080103_7_1.jpg?type=w2">
                </div>
                <% include ./template/join_article %>
                <% include ./template/login_article %>
              </div>
            </div>
          <article>
        </div>
      </div>
      <footer class="footer-wrap">
        <% include ./template/footer %>
      </footer>
    </div>
    <script>
      UPLOADCARE_LOCALE = "en";
      UPLOADCARE_TABS = "file";
      UPLOADCARE_PUBLIC_KEY = "d271d2c7dba74206d488";
    </script>
    <script charset="utf-8" src="http://ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>
    <script type="text/javascript" src="../js/intro.js"></script>
  </body>
</html>
