<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrap">
      <div class="container">
        <div class="content">
          <article>
            <div class="img-wrap">

            </div>
            <div class="join-wrap">
              <div class="content-wrap">
                <div class="img-wrap">
                  <img class="main-img" src="http://mblogthumb1.phinf.naver.net/20160605_88/wjs7889_1465092774688SX5rP_JPEG/20160601080103_7_1.jpg?type=w2">
                </div>
                <div class="join-form">
                  <div class="join-inner">
                    <h1 class="brand-name"><a class="brand-name" href="/login">Codestargram</a></h1>
                    <form class="join-post" action="/join" method="post">
                          <div class="input-text-wrap">
                            <div class="join-text">이메일</div>
                            <input id="email" type="text" name="email" value="이메일을 입력하세요"><br>
                            <div class="join-text">비밀번호</div>
                            <input id="password" type="password" name="pw" value="ipsumipsumipsum"><br>
                            <div class="join-text">비밀번호 확인</div>
                            <input id="repassword" type="password" name="repw" value="ipsumipsumipsum"><br>
                            <div class="confirm-pw"></div>
                            <div class="join-text">휴대전화</div>
                            <input  id="phone" type="text" name="phone" value="( - ) 없이 입력하세요"><br>
                            <div class="join-text">한줄 소개</div>
                            <input id="intro" type="textarea" name="intro" value="자기소개를 입력하세요"><br>
                            <div class="join-text">사진</div>
                            <input id="picture" type="text" name="picture"><br>
                          </div>

                          <section class="message"><%=message%></section>

                          <div class="join-btn-wrap">
                            <input class="join-btn" type="submit"/>
                          </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <article>
        </div>
      </div>
      <footer class="footer-wrap">
        <div class="footer-content">
          <p class="copy">정보 지원 블로그 관련 기사 채용정보 개인정보 처리방침</p>
        </div>
      </footer>
    </div>
    <script type="text/javascript">
      document.querySelector('.input-text-wrap').addEventListener('click',function(event){
        if(event.target.nodeName==="INPUT"){
          document.getElementById(event.target.id).value = "";
          document.getElementById(event.target.id).style.color = "black";
        }
      })
      document.querySelector('.input-text-wrap').addEventListener('focusout',function(event){
        if(event.target.value===""){
          switch(event.target.id){
            case "email" :
              document.getElementById(event.target.id).value = "이메일을 입력하세요";
              document.getElementById(event.target.id).style.color = "grey";
            break;
            case "password" :
              document.getElementById(event.target.id).value = "ipsumipsumipsum";
              document.getElementById(event.target.id).style.color = "grey";
            break;
            case "repassword" :
              document.getElementById(event.target.id).value = "ipsumipsumipsum";
              document.getElementById(event.target.id).style.color = "grey";
            break;
            case "phone" :
              document.getElementById(event.target.id).value = "( - ) 없이 입력하세요";
              document.getElementById(event.target.id).style.color = "grey";
            break;
            case "intro" :
              document.getElementById(event.target.id).value = "자기소개를 입력하세요";
              document.getElementById(event.target.id).style.color = "grey";
            break;
          }
        }
        document.querySelector('.input-text-wrap').addEventListener('keyup', function(event){
          if(event.target.id==="repassword"){
            var pw = document.querySelector("#password").value;
            var repw = document.querySelector("#repassword").value;
            if(pw!==repw){
              document.querySelector(".confirm-pw").innerHTML = "비밀번호가 일치하지 않습니다"
              document.querySelector(".confirm-pw").style.color = "red"
            }
            else{
              document.querySelector(".confirm-pw").innerHTML = "비밀번호가 일치합니다"
              document.querySelector(".confirm-pw").style.color = "green"
            }
          }
        })

      })
    </script>
  </body>
</html>
