<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrap">
      <div class="container">
        <div class="content">
          <article>
            <div class="box-wrap">
              <div class="content-wrap">
                <div class="img-wrap">
                  <img class="main-img" src="http://mblogthumb1.phinf.naver.net/20160605_88/wjs7889_1465092774688SX5rP_JPEG/20160601080103_7_1.jpg?type=w2">
                </div>
                  <% include ./template/login_article %>
                </div>
            </div>
          <article>
        </div>
      </div>
      <footer class="footer-wrap">
        <% include ./template/footer %>
      </footer>
    </div>
    <script type="text/javascript" src = "../js/login.js">

    </script>
  </body>
</html>
