<div class="header-content">
  <h1 class="h-logo"><a href="">Codestagram</a></h1>
  <div class="search-box">
    <input type="text" class="txt-box"/>
  </div>
  <ul class="util">
    <li>profile</li>
    <li><a href="/logout">log-out</a></li>
  </ul>
</div>
