<div class="header-content">
  <h1 class="h-logo"><a href="/main">Codestagram</a></h1>
  <form class="search-box" action="/profile" post="get">
    <input name="search" type="search" class="txt-box" />
  </form>
  <ul class="util">
    <li><a href="/profile/cur">Profile</a></li>
    <li><a href="/logout">Log-out</a></li>
  </ul>
</div>
