
    <div class="join-form">
      <div class="join-inner">
        <h1 class="brand-name"><a class="brand-name" href="/">Codestargram</a></h1>
        <form class="join-post" action="/intro/join" method="post">
              <div class="input-text-wrap">
                <div class="join-text">이메일</div>
                <input id="email" type="text" name="email" value="이메일을 입력하세요"><br>
                <div class="join-text">비밀번호</div>
                <input id="password" type="password" name="pw" value="ipsumipsumipsum"><br>
                <div class="join-text">비밀번호 확인</div>
                <input id="repassword" type="password" name="repw" value="ipsumipsumipsum"><br>
                <div class="confirm-pw"></div>
                <div class="join-text">휴대전화</div>
                <input  id="phone" type="text" name="phone" value="( - ) 없이 입력하세요"><br>
                <div class="join-text">한줄 소개</div>
                <input id="intro" type="textarea" name="intro" value="자기소개를 입력하세요"><br>
                <div class="join-text">사진</div>
                <div class="picture-wrap">
                  <input id="picture" type="hidden" name="picture" role="uploadcare-uploader" data-crop="disabled" data-images-only="true" />
                </div>
              </div>

              <section class="message"><%=message%></section>

              <div class="join-btn-wrap">
                <input class="join-btn" type="submit"/>
              </div>
        </form>
      </div>
    </div>
