
    <div class="login-form">
      <h1 class="brand-name"><a class="brand-name" href="/login">Codestargram</a></h1>
      <form class="login-port" action="index.html" method="post">
        <input id="login-email" type="text" name="login-email" value="email"><br>
        <input id="login-password" type="password" name="login-pw" value="ipsumipsumipsum">
      </form>
      <button class="login-btn ajaxsend" type="button">로그인</button>
      <div class="login-join-form">
        <p>계정이 없으신가요? <span class="move-join-text">가입하기</span></p>
      </div>
      <div class="result"></div>
    </div>
